body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}

.logo-box{
  overflow: hidden;
  height: 9rem;
  background-color: #38b6ff;
}
.logo-box .logo{
  height: 40rem;
  position: relative;
  top: 4.5rem;
  transform: translateY(-47.5%);
}

.question{
  border: 1px solid;
  border-color: cyan;
  background-color: darkcyan;
  width: 10rem;
  display: flex;
  justify-content: center;
}